<h1>Home - Handlebars</h1>
<p>Seja bem-vindo(a) {{usuario.nome}}</p>
<p>Tenho certeza que você é um(a) ótimo(a)
  {{usuario.profissao}}, mesmo tendo apenas
  {{usuario.idade}}
  anos de idade.</p>

{{#if auth}}
  <a href="/dashboard">Acessar Dashboard</a>
{{else}}
  <p>Você não está logado(a)! Faça login ou cadastre-se.</p>
{{/if}}